*{
  outline: none;
}

*::-webkit-scrollbar{
  display: none;
}

html, body{
  overflow: hidden;
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  margin: 0px;
  background-color: #1e1e1e;
  /* overflow-x: hidden; */
}

.main{
  font-family: "DejaVu Sans Mono";
  font-size: 16px;
  width: 100%;
  height: 100%;
}

.open-file-dialog{
  margin-top: 20px;
  margin-left: 20px;
}

.file-pth{
  width: calc(100% - 40px);
  white-space: pre-wrap;
}

.files{
  margin-top: 20px;
  color: #d4d4d4;
}

.line-nums{
  position: absolute;
  left: 0px;
  top: 0px;
  color: #858585;
  padding-right: 30px;
  width: calc(70px - 30px);
  height: calc(100% - 0px);
  max-width: calc(70px - 30px);
  max-height: calc(100% - 0px);
  overflow: hidden;
  text-align: right;
}

.code-wrap{
  position: absolute;
  left: 70px;
  top: 0px;
  width: calc(65% - 70px);
  height: calc(100% - 0px);
  max-width: calc(65% - 70px);
  max-height: calc(100% - 0px);
}

.editor{
  white-space: pre;
}

.info-view-wrap{
  position: absolute;
  left: 65%;
  top: 0px;
  width: 35%;
  height: calc(100% - 0px);
  max-width: 35%;
  max-height: calc(100% - 0px);
}

.info-view{
  padding: 8px;
  width: calc(100% - 16px);
  height: calc(100% - 16px);
  color: #d4d4d4;
  border-left: 1px solid #888;
  white-space: pre-wrap;
}

.code-div{
  display: block;
  width: 100%;
  height: 100%;
  overflow: auto;
  color: #d4d4d4;
}

.code-ta{
  display: block;
  width: 100%;
  height: 100%;
  transform: translate(0, -100%);
  padding: 0px;
  border: 0px solid;
  opacity: 0;
  background-color: red;
  font-family: inherit;
  font-size: inherit;
}

.line{
  height: 19px;
}

.txt{
  display: inline-block;
}

.cursor{
  width: 0px;
  margin-right: -2px;
  border-left: 2px solid #aeafad;
  display: inline-block;
  /* white-space: pre-wrap; */
}

.selected{
  background-color: #264f78;
}